.my-card{
    box-shadow: var(--shadow);
    margin: 1rem !important;
    font-family: "Montserrat", sans-serif;
    border-radius: 0.5rem;
    min-width: 300px;
    flex: 1;
}
.ant-card-head-title{
    margin: 0rem;
    font-weight: 500;
}
.my-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem auto;
    flex-wrap: wrap;
    gap: 16px;
}

.my-card p{
    margin: 0;
}